<div class="container-fluid">
    <section class="container">
        <div class="container-page">
            <form>
                <legend>{{ textButton }}</legend>
                <div class="col-md-6">
                    <div class="form-group col-lg-12">
                        <label>Nombre</label>
                        <input type="text" placeholder="Nombre" ng-model="trabajo.nombre" class="form-control" disabled>
                    </div>

                    <div class="form-group col-lg-6">
                        <label>Causa</label>
                        <input type="text" placeholder="Causa" ng-model="trabajo.causa" class="form-control" capitalize required="required">
                    </div>

                    <div class="form-group col-lg-6">
                        <label>Cantidad</label>
                        <input type="number" placeholder="Cantidad" ng-model="trabajo.cantidad" string-to-number step="any" min="0" class="form-control"
                               required="required">
                    </div>

                    <div class="form-group col-lg-6">
                        <label>Km inicio</label>
                        <input type="text" placeholder="Km inicio" ng-model="trabajo.km_inicio" class="form-control" required="required">
                    </div>

                    <div class="form-group col-lg-6">
                        <label>Km término</label>
                        <input type="text" placeholder="Km término" ng-model="trabajo.km_termino" class="form-control" required="required">
                    </div>

                    <div class="form-group col-lg-6">
                        <label>Semana</label>
                        <input type="text" placeholder="Fecha de programación" ng-model="trabajo.semana" class="form-control" jqdatepickerweek>
                    </div>

                    <div class="form-group col-lg-6">
                        <label>No Programable</label>

                        <div class="checkbox">
                            <input ng-model="trabajo.no_programable" ng-true-value="true" ng-false-value="false" id="checkbox1" class="styled" type="checkbox">
                            <label for="checkbox1">
                                Seleccionar trabajo no programable
                            </label>
                        </div>
                    </div>

                    <div class="form-group col-lg-6">
                        <label>Vencimiento</label>
                        <input type="text" placeholder="Fecha de vencimiento" ng-model="trabajo.vencimiento" class="form-control" jqdatepickerweek>
                    </div>

                    <div class="form-group col-lg-6">
                        <label>Grupo</label>
                        <select class="form-control" ng-model="trabajo.grupo_trabajo_id"
                                ng-options="grupo.id as grupo.base for grupo in grupos">
                        </select>
                    </div>

                    <div class="form-group col-lg-12">
                        <label>Programa {{ trabajo.programa }}</label>

                        <div class="form-control">
                            <div class="checkbox checkbox-primary checkbox-inline">
                                <input type="checkbox" id="lun" value="checked" ng-model="trabajo.lun" ng-true-value="'checked'"
                                       ng-false-value="'unchecked'" {{ trabajo.lun }}>
                                <label for="lun">Lun</label>
                            </div>
                            <div class="checkbox checkbox-primary checkbox-inline">
                                <input type="checkbox" id="mar" value="checked" ng-model="trabajo.mar" ng-true-value="'checked'"
                                       ng-false-value="'unchecked'" {{ trabajo.mar }}>
                                <label for="mar">Mar</label>
                            </div>
                            <div class="checkbox checkbox-primary checkbox-inline">
                                <input type="checkbox" id="mie" value="checked" ng-model="trabajo.mie" ng-true-value="'checked'"
                                       ng-false-value="'unchecked'" {{ trabajo.mie }}>
                                <label for="mie">Mié</label>
                            </div>
                            <div class="checkbox checkbox-primary checkbox-inline">
                                <input type="checkbox" id="juv" value="checked" ng-model="trabajo.juv" ng-true-value="'checked'"
                                       ng-false-value="'unchecked'" {{ trabajo.juv }}>
                                <label for="juv">Juv</label>
                            </div>
                            <div class="checkbox checkbox-primary checkbox-inline">
                                <input type="checkbox" id="vie" value="checked" ng-model="trabajo.vie" ng-true-value="'checked'"
                                       ng-false-value="'unchecked'" {{ trabajo.vie }}>
                                <label for="vie">Vié</label>
                            </div>
                            <div class="checkbox checkbox-primary checkbox-inline">
                                <input type="checkbox" id="sab" value="checked" ng-model="trabajo.sab" ng-true-value="'checked'"
                                       ng-false-value="'unchecked'" {{ trabajo.sab }}>
                                <label for="sab">Sáb</label>
                            </div>
                            <div class="checkbox checkbox-primary checkbox-inline">
                                <input type="checkbox" id="dom" value="checked" ng-model="trabajo.dom" ng-true-value="'checked'"
                                       ng-false-value="'unchecked'" {{ trabajo.dom }}>
                                <label for="dom">Dom</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-lg-12">
                        <label>Observaciones:</label>
                        <textarea class="form-control" rows="3" ng-model="trabajo.observaciones">{{ trabajo.observaciones }}</textarea>
                    </div>

                    <div class="form-group col-lg-12">
                        <input type="submit" class="btn btn-primary pull-right" value="Guardar">
                        <a href="#/" class="btn btn-primary">Volver</a>
                    </div>
                </div>

                <div ng-show="trabajo.obs_ce" class="col-md-6">
                    <h4>Inspección</h4>

                    <p>{{ trabajo.obs_ce }}</p>
                </div>
            </form>
        </div>
    </section>
</div>