<!-- Por alguna razón la directiva no esta funcionando bien
http://www.grobmeier.de/bootstrap-tabs-with-angular-js-25112012.html
<div class="col-md-12">
    &lt;!&ndash; Nav tabs &ndash;&gt;
    <ul class="nav nav-tabs" role="tablist">
        <li showTab class="active"><a href="#home" role="tab" data-toggle="tab">Home</a></li>
        <li showTab><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
        <li showTab><a href="#messages" role="tab" data-toggle="tab">Messages</a></li>
        <li showTab><a href="#settings" role="tab" data-toggle="tab">Settings</a></li>
    </ul>

    &lt;!&ndash; Tab panes &ndash;&gt;
    <div class="tab-content">
        <div class="tab-pane active" id="home">home...</div>
        <div class="tab-pane" id="profile">profile...</div>
        <div class="tab-pane" id="messages">messages...</div>
        <div class="tab-pane" id="settings">settings...</div>
    </div>
</div>
-->

<!--Formulario-->
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#body-form">
            Nuevo trabajo
        </div>
        <div id="body-form" class="panel-collapse collapse">
            <div class="panel-body">
                <form name="formTrabajo" ng-submit="createTrabajo(nTrabajo)">
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control" ng-model="nTrabajo.causa" placeholder="Causa" required="required" capitalize>

                        <p ng-repeat="msg in errors.causa" class="text-danger">{{msg}}</p>
                    </div>
                    <div class="form-group col-md-3">
                        <select class="form-control" ng-model="nTrabajo.trabajo_id">
                            <option ng-repeat="partida in partidas" value="{{ partida.id }}">{{ partida.nombre }}</option>
                        </select>

                        <p ng-repeat="msg in errors.trabajo_id" class="text-danger">{{msg}}</p>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="number" class="form-control" ng-model="nTrabajo.km_inicio" placeholder="km inicio" required="required">

                        <p ng-repeat="msg in errors.km_inicio" class="text-danger">{{msg}}</p>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="number" class="form-control" ng-model="nTrabajo.km_termino" placeholder="km término" required="required">

                        <p ng-repeat="msg in errors.km_termino" class="text-danger">{{msg}}</p>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="number" class="form-control" ng-model="nTrabajo.cantidad" placeholder="Cantidad" required="required">

                        <p ng-repeat="msg in errors.cantidad" class="text-danger">{{msg}}</p>
                    </div>
                    <div class="form-group col-md-1">
                        <input class="btn btn-primary" type="submit" value="Agregar"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Filtro-->
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#body-filtro">Filtrar</div>
        <div id="body-filtro" class="panel-collapse collapse">
            <div class="panel-body">
                <form ng-submit="filtrar(filtro)">
                    <div class="form-group col-md-2">
                        <input type="text" placeholder="Causa" ng-model="filtro.causa" class="form-control" capitalize>
                    </div>
                    <div class="form-group col-md-4">
                        <select ng-model="filtro.grupo_trabajo_id" class="form-control">
                            <option value="all" selected="selected">Todos</option>
                            <option ng-repeat="grupo in grupos | orderBy:'base'" value="{{ grupo.id }}">{{ grupo.base }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="text" placeholder="Semana" ng-model="filtro.semana" class="form-control" jqdatepickerweek>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="text" placeholder="Vencimiento" ng-model="filtro.vencimiento" class="form-control" jqdatepickerweek>
                    </div>
                    <div class="form-group col-md-1">
                        <div class="checkbox">
                            <input ng-model="filtro.realizado" ng-value="true" id="checkboxR" class="styled" type="checkbox">
                            <label for="checkboxR">
                                Realizado
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-1">
                        <!--<button class="btn btn-default" ng-click="clearFiltro(filtro)">Limpiar</button>-->
                        <input class="btn btn-primary" type="submit" value="Filtrar"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--PDF-->
<!--
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#body-pdf">Descargar programa</div>
        <div id="body-pdf" class="panel-collapse collapse">
            <div class="panel-body">
                <form action="programar/pdf">
                    <div class="form-group col-xs-6">
                        <select class="form-control" name="grupo_trabajo_id" required="required">
                            <option value="all" selected="selected">Todos</option>
                            <option ng-repeat="grupo in grupos | orderBy:'base'" value="{{ grupo.id }}">{{ grupo.base }}</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-4">
                        <input type="text" placeholder="Semana" class="form-control" name="semana" ng-model="semana" jqdatepickerweek required="required">
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Descargar"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
-->

<!--No data-->
<div class="col-md-12" ng-show="trabajos.length == 0">
    <h4>No hay trabajos para programar</h4>
</div>

<!--Test Test Test Test-->
<div class="col-md-12">
    <p>Modal: {{ showModal }}</p>
    <p>selection : {{ selection | json }}</p>
</div>
<!--Main table-->
<div ng-show="trabajos.length > 0">
    <table id="main" class="table table-condensed table-bordered table-hover">
        <tr>
            <th class="text-center">
                # <!--<input type="checkbox" ng-model="selectedAll" ng-click="selectAll()" />-->
            </th>
            <th>
                <a ng-click="orderByField='causa'; reverseSort = !reverseSort" href="">Causa
                    <span ng-show="orderByField == 'causa'">
                        <span class="glyphicon glyphicon-sort-by-alphabet" ng-show="!reverseSort"></span>
                        <span class="glyphicon glyphicon-sort-by-alphabet-alt" ng-show="reverseSort"></span>
                    </span>
                </a>
            </th>
            <th>
                <a ng-click="orderByField='nombre'; reverseSort = !reverseSort" href="">Trabajo
                <span ng-show="orderByField == 'nombre'">
                    <span class="glyphicon glyphicon-sort-by-alphabet" ng-show="!reverseSort"></span>
                    <span class="glyphicon glyphicon-sort-by-alphabet-alt" ng-show="reverseSort"></span>
                </span>
                </a>
            </th>
            <th>
                <a ng-click="orderByField='km_inicio'; reverseSort = !reverseSort" href="">Km Inicio
                <span ng-show="orderByField == 'km_inicio'">
                    <span class="glyphicon glyphicon-sort-by-attributes" ng-show="!reverseSort"></span>
                    <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="reverseSort"></span>
                </span>
                </a>
            </th>
            <th>
                <a ng-click="orderByField='km_termino'; reverseSort = !reverseSort" href="">Km Término
                    <span ng-show="orderByField == 'km_termino'">
                        <span class="glyphicon glyphicon-sort-by-attributes" ng-show="!reverseSort"></span>
                        <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="reverseSort"></span>
                    </span>
                </a>
            </th>
            <th>Cantidad</th>
            <th>
                <a ng-click="orderByField='grupo_trabajo_id'; reverseSort = !reverseSort" href="">Grupo
                    <span ng-show="orderByField == 'grupo_trabajo_id'">
                        <span class="glyphicon glyphicon-sort-by-alphabet" ng-show="!reverseSort"></span>
                        <span class="glyphicon glyphicon-sort-by-alphabet-alt" ng-show="reverseSort"></span>
                    </span>
                </a>
            </th>
            <th>
                <a ng-click="orderByField='semana'; reverseSort = !reverseSort" href="">Semana
                <span ng-show="orderByField == 'semana'">
                    <span class="glyphicon glyphicon-sort-by-attributes" ng-show="!reverseSort"></span>
                    <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="reverseSort"></span>
                </span>
                </a>
            </th>
            <th>
                <a ng-click="orderByField='vencimiento'; reverseSort = !reverseSort" href="">Vencimiento
                <span ng-show="orderByField == 'vencimiento'">
                    <span class="glyphicon glyphicon-sort-by-attributes" ng-show="!reverseSort"></span>
                    <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="reverseSort"></span>
                </span>
                </a>
            </th>
            <th class="text-center">L</th>
            <th class="text-center">M</th>
            <th class="text-center">M</th>
            <th class="text-center">J</th>
            <th class="text-center">V</th>
            <th class="text-center">S</th>
            <th class="text-center">D</th>
            <th class="text-center">Opc.</th>
        </tr>
        <tr ng-repeat="(key, trabajo) in trabajos | orderBy:orderByField:reverseSort" class="{{ trabajo.status }}">
            <td class="text-center">
                <input type="checkbox" value="{{trabajo.id}}" ng-click="toggleSelection(trabajo)"/>
            </td>
            <td ng-class="orderByField == 'causa' ? 'active' : ''">{{ trabajo.causa }}</td>
            <td ng-class="orderByField == 'nombre' ? 'active' : ''">{{ trabajo.nombre }}
                <span class="pull-right">{{ trabajo.id }}</span><!--<span class="pull-right">{{ trabajo.unidad }}</span>-->
            </td>
            <td ng-class="orderByField == 'km_inicio' ? 'active' : ''">{{ trabajo.km_inicio }}</td>
            <td ng-class="orderByField == 'km_termino' ? 'active' : ''">{{ trabajo.km_termino }}</td>
            <td>{{ trabajo.cantidad }}</td>
            <td ng-class="orderByField == 'semana' ? 'active' : ''">
                <select ng-model="trabajo.grupo_trabajo_id"
                        ng-options="grupo.id as grupo.base for grupo in grupos"
                        ng-change="updateTrabajo(trabajo)">
                </select>
            </td>
            <td ng-class="orderByField == 'semana' ? 'active' : ''">
                <input type="text" placeholder=" dd/mm/aa" ng-model="trabajo.semana" style="width: 100px;"
                       ng-change="updateTrabajo(trabajo)" jqdatepickerweek>
            </td>
            <td ng-class="orderByField == 'vencimiento' ? 'active' : ''">
                <input type="text" placeholder=" dd/mm/aa" ng-model="trabajo.vencimiento" style="width: 100px;"
                       ng-change="updateTrabajo(trabajo)" jqdatepickerweek>
            </td>
            <td class="text-center">
                <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" name="lun{{ trabajo.id }}" ng-model="trabajo.lun" ng-true-value="'checked'" ng-false-value="'unchecked'"
                           ng-change="updateTrabajo(trabajo)">
                    <label></label>
                </div>
            </td>
            <td class="text-center">
                <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" id="mar{{ trabajo.id }}" ng-model="trabajo.mar" ng-true-value="'checked'" ng-false-value="'unchecked'"
                           ng-change="updateTrabajo(trabajo)">
                    <label></label>
                </div>
            </td>
            <td class="text-center">
                <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" id="mie{{ trabajo.id }}" ng-model="trabajo.mie" ng-true-value="'checked'" ng-false-value="'unchecked'"
                           ng-change="updateTrabajo(trabajo)">
                    <label></label>
                </div>
            </td>
            <td class="text-center">
                <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" id="juv{{ trabajo.id }}" ng-model="trabajo.juv" ng-true-value="'checked'" ng-false-value="'unchecked'"
                           ng-change="updateTrabajo(trabajo)">
                    <label></label>
                </div>
            </td>
            <td class="text-center">
                <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" id="vie{{ trabajo.id }}" ng-model="trabajo.vie" ng-true-value="'checked'" ng-false-value="'unchecked'"
                           ng-change="updateTrabajo(trabajo)">
                    <label></label>
                </div>
            </td>
            <td class="text-center">
                <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" id="sab{{ trabajo.id }}" ng-model="trabajo.sab" ng-true-value="'checked'" ng-false-value="'unchecked'"
                           ng-change="updateTrabajo(trabajo)">
                    <label></label>
                </div>
            </td>
            <td class="text-center">
                <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" id="dom{{ trabajo.id }}" ng-model="trabajo.dom" ng-true-value="'checked'" ng-false-value="'unchecked'"
                           ng-change="updateTrabajo(trabajo)">
                    <label></label>
                </div>
            </td>
            <td class="text-center">
                <a href="#/edit/{{ key }}" ng-class="trabajo.observaciones ? 'btn btn-primary btn-xs' : 'btn btn-default btn-xs'"
                   title="Observaciones:" data-toggle="popover" data-content="{{trabajo.observaciones}}" data-trigger="hover" data-placement="left">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a ng-click="deleteTrabajo(trabajo)"
                   href="" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    </table>
</div>

<!--Loading svg-->
<div data-loading style="position: fixed; top: 10px; right: 15px;">
    <svg width="24px" height="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring">
        <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
        <circle cx="50" cy="50" r="40" stroke-dasharray="163.36281798666926 87.9645943005142" stroke="#fb8c00" fill="none" stroke-width="20"
                transform="rotate(54.1788 50 50)">
            <animateTransform attributeName="transform" type="rotate" values="0 50 50;180 50 50;360 50 50;" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite"
                              begin="0s"></animateTransform>
        </circle>
    </svg>
</div>

<!--Floating toolbar-->
<div ng-show="selection.length > 0" style="position: fixed; bottom: 5px; left: 5px;">
    <a href="" class="btn btn-success btn-xs" ng-click=""><span class="glyphicon glyphicon-ok"></span></a>
    <a href="" class="btn btn-default btn-xs" ng-click="toggleModal()"><span class="glyphicon glyphicon-pencil"></span></a>
    <a href="" class="btn btn-danger btn-xs" ng-click="deleteSelected()"><span class="glyphicon glyphicon-trash"></span></a>
</div>

<div ng-include="'angular2/templates/modal.html'"></div>