.myselect {
	width: 220px;
	position: relative;
}
 
div table .tdkilometro {
	width: 110px;
}

div table tbody tr .center-btn {
	horizontal-align: middle;
	display: block;
	margin:auto;
}

select {
	width: 100%;
	background: #F3F3F3;
	color: #585757;
	padding: 5px;
	font-size: 13px;
	line-height: 100%;
	border: 1px solid #C1C1C1;
	border-radius: 0;
	height: 30px;
}
 
option {
	padding: 10px;
}
